.advices {
  height: 500px;
  font-family: "Passion One";
}

.advices h2 {
  margin: 20px 0px 20px 50px;
  color: black;
  font-size: 70px;
}

.advices-cards {
  display: flex;
  justify-content: space-evenly;
}
