.banner {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/public/images/banner.jpg");
  background-size: cover;
  font-family: "Passion One";
}

.banner h1 {
  margin: 0;
  font-size: 80px;
  color: white;
  text-shadow: 4px 4px 6px #000000;
}

.banner ul {
  width: 55%;
  padding: 0;
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.banner li {
  list-style-type: none;
  transition: transform 0.5s;
}

.banner li:hover {
  transform: scale(1.1);
}

.banner img {
  width: 80px;
  filter: drop-shadow(3px 3px 4px #000000);
}
